*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .Type3{
    display: flex;
    margin-bottom: 2rem;
    background-color: white;
    height: 50px;
  }
.div1{
    width: 50px;
    background-size:contain;
    padding:0.5rem;

}
.content{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    justify-content: center;
    width: 80%;
    text-align: center;
    color:white;
    font-size: large;
    font-weight: 600;
}
.name{
    color:cadetblue;
    font-weight: 450;
    text-align: left;
    
}
.designation{
    color: rgb(160, 156, 156);
    text-align: left;

}
.icon{
    padding:0.5rem;
    
}
.icon:hover{
    cursor:pointer;
}